*>*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes verticalMove {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 20px);
        transform: translate(0, 20px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
:root {
    --b : #ffc900;
}
/* Damion font */
@font-face {
    font-family: 'Damion';
    src: url(../font/Damion/Damion-Regular.ttf);
    font-weight: 400;
}
/* Dancing script font */
@font-face {
    font-family: 'Dancing Script';
    src: url(../font/DancingScript/DancingScript-VariableFont_wght.ttf);
}
/* Poppins font */
@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins/Poppins-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}
/* Open Sans fonts 400-700 */
@font-face {
    font-family: 'Open Sans';
    src: url(../font/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf);
}

nav li:hover, .titles:hover{
    color: var(--b);
    cursor: pointer;
}
h4{
    font-size: 21px;
    line-height: 30px;
}
h5{
    font-size: 20px;
    line-height: 30px;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    color: #252525;
    font-family: 'Poppins';
    transition: all 1s ease 0s;
}
body{
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #8d9297;
}
a{
    text-decoration: none;
    color: inherit;
}
.mobile-header{
    display: none !important;
    padding: 10px 15px !important;
    background-color: white;
    color: black !important;
    z-index: 10 !important;
}
.rev-btn, .donate-btn, .event-bg-red,
.circle-bg, .sign-up-btn, .sermon-playlist span a, .btn-readMore,
.heart, .border-bottom, .flip-box-wrapper, .post-date, .widget .title::before,
.widget .title::after, .sermon-view-wrapper{
    background-color: #5b65e2;
}

.theme-color{
    color: #ffc900;
}
.theme-color-main {
    color: red;
}
img{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

/* background-image */
.bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -2;
    max-width: 1700px;
    min-height: inherit;
}
/* header */
header{
    position: absolute;
    inset: 0;
    height: max-content;
}
header > div{
    position: relative;
}
.basic-container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bg{
    position: absolute;
    inset: 0;
}
.bottom-bar{
    border-top: 1px rgba(255,255,255,0.07) solid;
    box-shadow: 0 10px 50px -12px rgba(171, 171, 171, 0.14);
}
.address{
    font-family: 'Poppins';
}
.address i{
    padding-right: 5px;
}
.social-icons{
    display: flex;
}
.social-icons li{
    list-style: none;
}
.social-icons a {
    width: 50px;
    line-height: 60px;
    border-left: solid 1px rgba(255,255,255,0.07);
    display: inline-block;
    margin-right: 5px;
    text-align: center;
}
.social-icons :nth-child(7) a{
    padding-left: 30px;
}
.minitries-content h2:hover, .quick-links li:hover, .catergory-widget li:hover,
.list-posts a:hover, .blog-details h2:hover, .social-icons a:hover{
    color: var(--b);
}
nav{
    display: flex;
    gap: 30px;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}
nav a{
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 100px;
}
nav a i{
    padding-left: 5px;
}
.donate-btn {
    color: #fff;
    border: none;
    font-family: inherit;
    font-size: 1em;
    font-weight: 700;
    padding: 10px 23px;
    border-radius: 4px;
    position: relative;
}
.logo {
    width: 120px;
    height: 70px;
}
/* dropdown */

.dropdown {
    font-family: 'poppins';
    font-weight: 600;
    display: block;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    color: #000f21;
    min-width: 300px;
    height: auto;
    align-items: start;
    transition: all 0.3s ease-in-out 0s;
    transform: scaleY(0);
    transform-origin: center top 0;
}
.dropdown{
    position: absolute;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
}
.dropdown :first-child{
    padding-top: 10px;
}
.dropdown :last-child{
    border: none;
    padding-bottom: 10px;
}
.dropdown li{
    border-bottom: solid 1px rgba(245,245,245,1);
    transition: all 0.3s ease-in-out 0s;
}
.dropdown li a{
    line-height: 40px;
    padding: 10px 20px;
}
.dropdown li:hover{
    padding-left: 5px;
}
.nav-dropdown:hover .dropdown {
    display: block;
    visibility: visible !important;
    opacity: 1 !important;
    transform: scaleY(1);
}
.btn-bg-hover{
    position: absolute;
    background-color: #dfdfdf;
    inset: 0;
}
/* dropdown */
/* button */
.rev-btn{  
    line-height: 17px;
    font-weight: 550;
    font-size: 16px;
    color: white;
    padding: 15px 35px;
    border: none;
    border-radius: 3px;
    box-shadow: -3px 9px 16px -4px rgb(0 0 0 / 26%);
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    position: relative;
}
.hero-section, .basic-container,.search-form-wrapper,
.carousel .event-time, .page-title, #sermonDetails .sermon-name{
    color: #fff;
}
.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding: 0 15px;
}
.hero-text :nth-child(2){
    font-weight: 600;
}
.hero-text h1{
    letter-spacing: 3px;
    padding-bottom: 10px;
    color: inherit;
    line-height: 1;
}
.hero-text p {
    max-width: 500px;
    font-size: 14px;
}
section a, footer a{
    transition: all 1s ease 0s;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.carousel-outer-stage{
    overflow: hidden;
    width: 100%;
}
.carousel-outer{
    position: relative;
    display: flex;
    transform: translate3d(0px, 0px, 0px);
}
.carousel{
    width: 48.7%;
    margin-right: 30px;
    flex-shrink: 0;
}
.event-box{
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 35px 30px;
    border: unset;
    background: #fff;
    box-shadow: rgb(2 2 2 / 6%) 0px 0px 50px;
}
.media{
    display: flex;
    gap: 1.5em;
}
.event-date{
    position: relative;
    padding: 25px 15px 3px;
    border-radius: 8px;
    background: rgba(191,10,48,0.13);
    font-size: 18px;
    flex-shrink: 0;
    align-self: start;
    text-align: center;
}
.titles{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0.5em;
    color: #252525;
    transition: all 0.3s ease-in-out 0s;
}
.event-date i{
    position: absolute;
    inset: -20px;
}
.carousel .event-time{
    display: block;
    position: relative;
    padding-top: 15px;
    font-weight: 600;
    font-size: 14px;
}
.event-bg-red{
    position: absolute;
    height: 31px;
    z-index: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 0 0 8px 8px;
}
.read-more{
    font-weight: 600;
    border-bottom: solid 2px;
    color: #bf0a30;
}
.read-more:hover{
    color: #8d9297;
}
.tear-dots{
    text-align: center;
    margin-top: 20px;
}
.tear-dot{
    border: none;
    background: none;
}
.tear-dot.disabled{
    display: none;
}
.tear-dot span{
    display: block;
    height: 15px;
    margin: 0 6px;
    width: 15px;
    border-radius: 0% 50% 50% 50%;
    border: 2px solid #dfdfdf;
    background: #fff;
    transform: rotate(44deg);
}
section{
    padding: 100px 0;
}
.contain{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    /* margin: 0 -15px; */
}
.contain>*{
    width: 100%;
    padding: 0 15px;
    flex-grow: 1;
}
.about{
    position: relative;
}
.about-img_pattern{
    padding: 0px 63px 0px 0px;
    align-self: center;
    text-align: center;
}
.about-img{
    padding: 0px 63px 83px 0px;
    position: relative;    
}
.about-us button{
    margin-top: 35px;
}
.sub-title{
    font-weight: 700;
    font-size: 16px;
}
.section-title-container{
    margin: 5px 0 35px 0;
    position: relative;
}
.section-title{
    font-size: 30px;
    line-height: 38px;
}
.border-bottom{
    width: 60px;
    height: 4px;
    border-radius: 50px;
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    overflow: hidden;
}
.border-bottom::before{
    content: "\e648";
    position: absolute;
    left: -5px;
    top: -2px;
    border-radius: 6px;
    transform: rotate(2deg);
    font-family: "themify";
    font-weight: 900;
    font-size: 45px;
    color: #fff;
}
.about-text{
    padding: 15px 0 30px 0;
}
.styled-text{
    color: #8d9297;
    font-family: "Damion";
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 35px;
}
.feature-box-wrapper{
    display: flex;
    gap: 30px;
}
.feature-box{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.feature-box h4{
    font-size: 21px;
}
.circle-bg{
    color: #fff;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}
.circle-bg:hover, .btn-readMore:hover{
    background-color: #212529;
}
.sermon-info a:hover{
    color: #212529;
}
.circle-bg i{
    position: absolute;
    bottom: 16px;
    right: 18px;
}
.quote-section-container{
    background-image: url(../Images/bg-img/bg-1.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}
.heart{
    width: 65px;
    height: 65px;
    font-size: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-section{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.quote-section h2{
    font-size: 42px;
    line-height: 58px;
    color: inherit;
}
.dancing-texts{
    font-family: 'Dancing Script';
    font-size: 25px;
}
.ministries-box{
    box-shadow: rgb(2 2 2 / 6%) 0px 0px 50px;
    border-radius: 10px;
    background-color: #fff;
    border-bottom: solid 4px;
    margin-bottom: 35px;
    border-bottom-color: #bf0a30;
}
.ministries-box img{
    border-radius: 10px 10px 0 0;
    transition: all 0.8s ease-in-out 0s;
}
.ministries-img-box{
    overflow: hidden;
}
.ministries-img-box img:hover{
    transform: scale(1.1);
}
.ministries-title{
    margin-bottom: 70px;
    text-align: center;
}
.border-bottom.center{
    margin: auto;
}
.carousel-outer-stage.mb-0{
    margin-top: 0;
}

.ministries-section .carousel{
    width: 31.6%;
    margin-right: 30px;
}
.minitries-content{
    padding: 30px;
    display: grid;
    gap: 20px;
}
.flip-box-container{
    position: relative;
    text-align: center;
    margin-top: -115px;
    animation: verticalMove 3.5s infinite;
    margin-bottom: 3rem;
}
.flip-box-wrapper{
    width: 100%;
    inset: 0;
    position: absolute;
    z-index: 0;
    border-radius: 5px;
}
.flip-box{
    position: relative;
    z-index: 1;
    padding: 40px 0 55px 0;
}
.flip-box-icon{
    margin-bottom: 30px;
    font-size: 30px;
}
.flip-box-title{
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.flip-box-title::after{
    content: "";
    width: 15px;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.flip-box-content{
    display: grid;
    gap: 20px;
}
.contact-form{
    background-image: url(../Images/bg-img/bg-2.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.contact-form h2{
    color: inherit;
    font-size: 28px;
}
.contact-form-content{
    padding: 0 15px;
    display: grid;
    gap: 20px;
    justify-items: start;
}

.blog-title{
    text-align: center;
    margin-bottom: 70px;
}
.blog-section .carousel{
    width: 31.6%;
}
.blog-content-box{
    box-shadow: 0px 3px 10px 0px rgb(38 59 94 / 10%);
    padding: 30px;
    margin-bottom: 35px;
}
.blog-thumb{
    margin: -30px -30px 0;
    position: relative;
}
.blog-details{
    padding-top: 30px;
}
.blog-details h2{
    margin-bottom: 10px;
}
.post-date{
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 15px;
    padding: 0 12px 0 14px;
    border-radius: 0px 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: .15em;
    z-index: 3;
    color: #fff;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
footer{
    background-image: url(../Images/footer/footer-bg.jpg);
    background-position: center center;
    background-size: cover;
}
.footer-section{
    position: relative;
    color: #fff;
    z-index: 999;
}
.color-overlay{
    background: rgba(0,22,47,0.92);
    z-index: -1;
    position: absolute;
    inset: 0;
}
ul{
    list-style: none;
}
.title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: inherit;
    padding: 0 0 0 40px;
    position: relative;
}
.social-media-icons a{
    margin-top: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 4px;
    text-align: center;
    background-color: var(--b);
}
.about-church{
    font-size: 14px;
}
.quick-links ul{
    display: grid;
    gap: 18px;
}
.widget .title::before{
    position: absolute;
    left: 0px;
    content: "";
    width: 30px;
    height: 2px;
    bottom: 11px;
}
.widget .title::after{
    content: "";
    width: 1px;
    height: 15px;
    position: absolute;
    bottom: -9px;
    left: 8px;
    top: 9px;
}
.footer.list-posts > :nth-child(1){
    padding: 10px 0 22px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.17) !important;
    margin-bottom: 13px;
}
.footer.list-posts > :nth-child(2){
    padding-top: 10px;
}
.list-posts li{
    display: flex;
    gap: 14px;
    align-items: center;
    padding-bottom: 20px;;
}
.list-posts .side-text a{
    font-weight: 700;
}
.side-text .post-datee{
    font-size: 13px;
    font-style: italic;
    color: #a5a5a5;
    position: relative;
}
.list-posts .side-image img{
    max-width: 70px;
    border-radius: 4px;
}
/* Suscribed button */
.input-form{
    display: flex;
    margin-top: 20px;
}
.subscribe-form{
    height: 50px;
    color: #656363;
    padding-left: 15px;
    border: 1px solid #eee;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    width: 1%;
    flex: 1 1 auto;
    position: relative;
    z-index: 1;
    font: inherit;
}
.sign-up-btn{
    color: inherit;
    border: none;
    padding: 11px 15px;
    font-size: 14px;
    height: 50px;
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
    position: relative;
    z-index: 0;
}
/* Search-bar button */
.footer-copyright{
    padding: 20px 0;
    background: #000f21;
    font-size: 13px;
    color: #fff;
}

/* Sermon Grid */
/* Page title Wrapper */
#section-header{
    position: relative;
}
#section-header ul{
    color: #252525;
}
.page-title-wrapper{
    background-image: url(../Images/ministries/childrens_ministry.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: -2;
    text-align: center;
}
#pageTitleWrapper .page-title-img-icon-container{
    position: absolute;
    z-index: 1;
    inset: 200px 0;
}
#pageTitleWrapper .page-title-img-icon{
    z-index: 1;
    position: relative;
}
#pageTitleWrapper .page-title-img-icon-container::before,
#pageTitleWrapper .page-title-img-icon-container::after{
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    background: white;
    margin: 0 auto;
    /* top: -50px; */
}
#pageTitleWrapper .page-title-img-icon-container::after{
    border-radius: 45% 50% 50% 0;
    left: 49.3%;
}
#pageTitleWrapper .page-title-img-icon-container::before{
    border-radius: 50% 45% 0 50%;
    right: 49.3%;
}
#pageTitleWrapper .page-title{
    font-size: 42px;
    line-height: 1.3;
}

/* Sermon */
#sectionSermon .container{
    padding: 0;
}
.sermon-inner{
    box-shadow: rgb(2 2 2 / 6%) 0px 0px 50px;
    border: none;
    border-radius: 10px;
    padding: 35px 30px;
    position: relative;
    overflow: hidden;
    margin-bottom: 3em;
}
.sermon-thumb{
    margin: -35px -30px 0;
}
.sermon-details{
    display: grid;
    gap: 15px;
}
.sermon-playlist{
    text-align: center;
    margin-top: -30px;
    color: #fff;
}
.sermon-playlist span a{
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    line-height: 45px;
    border-radius: 6px;
    margin-bottom: 4px;
    color: inherit;
    margin-right: 4px;
}
.sermon-info ul > :nth-child(2), .sermon-info ul > :last-child{
    display: inline;
    padding-right: 20px;
}
#sectionSermon .sermon-info ul{
    font-size: 13px;
    list-style: none;
    font-style: italic;
}
.btn-readMore{
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    padding: 6px 15px 8px;
    border-radius: 4px;
    border: none;
    display: inline-block;
    margin-top: 20px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}

/* Sermon-Details */
#sermonDetails .sermon-thumb{
    margin: 0;
}
.img-details{
    border-radius: 10px;
}
.sermon-view-wrapper{
    padding: 30px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin: 0 50px;
    margin-top: -70px;
    margin-bottom: 40px;
}
#sermonDetails .sermon-info{
    margin-bottom: 15px;
}
#sermonDetails .sermon-info ul li{
    padding: 0;
    display: inline;
    margin-right: 10px;
}
#sermonDetails .sermon-name{
    margin-bottom: 20px;
}
#sermonDetails .sermon-playlist span a{
    background-color: #fff;
}
#sermonDetails .sermon-playlist{
    margin: 0;
    text-align: unset;
    color: #212529;
}
.sermon-detail .contain, #eventDetails .contain, #gallerySection .contain{
    margin: 0 -15px;
}
.sermon-view-wrapper .contain > :nth-child(2){
    text-align: right;
}
#sermonDetails p{
    margin-bottom: 15px;
}
.sub-titles{
    margin: 30px 0 15px;
    font-size: 28px;
    line-height: 36px;
}

/* Event-Details */
.event-details-wrap{
    border-radius: 10px;
    border: 1px dashed #eaeaea;
    padding: 38px 30px 35px;
    overflow: hidden;
}
.event-info p, .event-venue p{
    padding-bottom: 17px;
    border-bottom: 1px dashed #eaeaea;
    margin-bottom: 15px;
}
.form-group{
    position: relative;
}
.form-group input,
.contact-form-wrap select{
    background: transparent;
    border: 1px solid #eaeaea;
    height: 50px;
    color: #8D9297;
    width: 100%;
    padding: 12px 15px;
    border-radius: 4px;
    font-family: "poppins";
    appearance: none;
}
.event-info h4{
    margin-top: -40px !important;
}
.event-info :last-child, .event-venue :last-child,
.event-contact-title :last-child{
    border-bottom: none;
    margin-bottom: 30px;
}
.event-info h4, .event-venue h4, .event-contact-title h4 {
    background-color:#5b65e2;
    margin: -30px;
    padding: 17px 15px;
    margin-bottom: 28px;
    color: #fff;
    text-align: center;
    line-height: 1;
}
.contact-form-wrap .form-group{
    margin-bottom: 15px;
}
.event-detailed-pack img{
    border-radius: 6px;
}
img[alt="event-image"]{
    margin-bottom: 30px;
}
#eventDetails .quote-section-container{
    padding: 50px;
    overflow: hidden;
    border-radius: 10px
}
#eventDetails .quote-section h2{
    font-size: 25px;
}
#eventDetails .event-content{
    margin-bottom: 20px;
}

/* Contact-Us */
.contact-section{
    padding-bottom: unset;
}
.contact-box-wrapper{
    margin-bottom: 30px;
}
.contact-box-bg{
    background-image: url(../Images/ministries/women_ministry.jpg);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    border-radius: 15px;
}
.contact-box{
    padding: 70px 30px;
    color: #fff;
    text-align: center;
}
.contact-box-title h5{
    color: inherit;
}
.contact-box .contact-box-icon{
    font-size: 40px;
    margin: 10px 0;
}
.event-gallery-img{
    margin-bottom: 30px;
}
#contactFormSection .contact-form-wrap{
    padding: 40px 35px 40px 35px;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 7px 5px 30px 0px rgb(72 73 121 / 15%);
}
#contactFormSection textarea{
    height: auto;
    padding: 12px 15px;
    width: 100%;
    font-family: inherit;
    background: transparent;
    border: 1px solid #eaeaea;  
}
.contact-form_side-image{
    padding: unset;
}
/* Sermon List */
.sermon-list-item{
    display: flex;
    box-shadow: rgba(2,2,2,.09) 0 0 50px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 35px;
}
.sermon-list-item img{
    border-radius: 10px 0 0 10px;
}
.sermon-list-item h4{
    font-size: 24px;
}
#sermonList .sermon-playlist{
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    margin: -40px auto 0;
    height: max-content;
    width: max-content;
}
#sermonList .sermon-content{
    padding: 20px 20px 20px 0;
}
/* Side-bar */
.side-bar .widget{
    margin-bottom: 40px;
    padding: 30px;
    background: #fff;
    border: solid 1px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    width: 100%;
}
.search-form-wrapper .search-btn{
    padding: 0 19.5px;
}
textarea:focus, input:focus{
    border: none;
    outline: 1px solid #5b65e2;
}
.search-btn{
    font-size: 16px;
    line-height: 1;
    padding: 15px 30px;
    color: #fff;
    border-radius: 4px 4px 4px 4px;
    border: unset;
    box-shadow: -3px 9px 16px -4px rgb(0 0 0 / 26%);
    position: relative;
}
.widget-title .title::before{
    content: "";
    width: 25px;
    height: 1px;
    position: absolute;
    top: 13px;
    bottom: 0;
    right: 0;
    left: 0;
}
.widget-title .title::after{
    content: "";
    width: 15px;
    height: 1px;
    bottom: 0;
    left: 10px;
    top: 18px;
    position: absolute;
}
.catergory-widget ul li:last-child{
    border-bottom: unset;
}
.catergory-widget ul li i{
    padding-right: 10px;
}
.catergory-widget ul li {
    display: block;
    font-size: 15px;
    line-height: 28px;
    position: relative;
    padding: 10px 0 10px;
    border-bottom: 1px dashed #eaeaea;
}
.tagcloud a{
    font-size: 13px;
    font-weight: 400;
    padding: 6px 12px;
    display: inline-block;
    text-decoration: none;
    line-height: normal;
    margin-bottom: 6px;
    margin-right: 2px;
    letter-spacing: 1px;
    border: 1px solid #eaeaea;
}
/* Donate-section */
.campaigns li:last-child{
    border: unset;
}
.campaigns .campaign{
    padding: 1em 0;
    border-bottom: 1px solid #e6e6e6;
}
.campaign img{
    margin-top: 5px;
    margin-bottom: 15px;
}
.donate-section-wrap > p{
    margin-top: 35px;
}
.donate-section{
    margin-top: 15px;
}
.donate-section .login-prompt{
    color: #000;
    margin: 0 4px 4px;
}
#donateNow .donation-fieldset{
    margin: 0 0 1em;
    padding: 1.5em 20px 0.5em;
    border: 1px solid #ebebeb;
}
.donation-form-header{
    margin: 0 0 1em;
    font-size: 1.2em;
    font-weight: bolder;
    color: #000;
}
.donation-field-form{
    margin-bottom: 1em;
}
.donation-field-form label{
    margin-bottom: 4px;
}
.donation-field-form input,.donation-field-form select{
    width: 100%;
    padding: 0 10px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #eaeaea;
}
#donateNow .payment-method p{
    margin-bottom: 4px;
    font-weight: 700;
}
.donation-radio-list{
    margin-bottom: 1em;
}
.donation-radio-list li{
    margin: 0 20px 0 0;
    display: inline-block;
    line-height: 1em;
}
.donation-fieldset .form-group label{
    position: absolute;
    left: 0;
    top: 9px;
    padding: 0 15px;
}
.donation-fieldset .contain>*{
    padding-left: unset;
}
.donation-fieldset .form-group input[type='radio']:focus{
    background-color: #5b65e2;
    color: #fff !important;
}
.donation-fieldset .contain > .form-group{
    margin-bottom: 15px;
}
.donation-fieldset .custom-donation-amount label{
    display: block;
    padding: 5px 15px 15px 15px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
}

/* Gallery-section */
#gallerySection .media{
    padding: 30px;
    box-shadow: 1px 2px 20px 0px rgb(230 230 230 / 80%);
}
#gallerySection .gallery-zoom{
    margin-bottom: 3rem;
}
#gallerySection .media-thumb img{
    max-width: 180px;
    height: auto;
}
#gallerySection .media-body h4{
    padding-bottom: 10px;
}
#gallerySection .color-overlay{
    opacity: 0.6;
}
#gallerySection .quote-section-container{
    background-image: url(../Images/portfolio/video-bg.jpg);
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
}
.portfolio-info-wrap > :nth-child(n){
    margin-bottom: 30px !important;
}
.portfolio-meta-wrap{
    padding: 35px;
    background-color: #5b65e2;
    height: max-content;
    border-radius: 5px;
}
.portfolio-meta-title-wrap>*{
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
    line-height: 24px;
    color: #fff;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #dee2e6;
}
.portfolio-meta-title-wrap{
    display: inline-block;
    margin-right: 15px;
}
.portfolio-meta-list>li > span, .portfolio-meta-list>li a{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}
.portfolio-meta-title-wrap .portfolio-meta-icon {
    margin-right: 10px;
}
.portfolio-meta-wrap .entry-category,
.portfolio-meta-wrap .entry-category ul li,
.portfolio-meta-wrap .entry-tags, .portfolio-meta-wrap .entry-tags ul li{
    display: inline-block;
}
.portfolio-meta-list>li .social-icons {
    display: inline-block;
}
.portfolio-meta-list>li {
    margin-bottom: 15px;
}
.portfolio-meta-list>li .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
#gallerySection .social-icons.small.icons-circle a > span {
    background: #fff;
    display: inline-block;
    color: #000;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
}

@media screen and (min-width: 767px){
    .about-img_pattern::before{
        content: "";
        background-image: url(../Images/about-us/about-1-bg.png);
        background-repeat: no-repeat;
        background-position: -88px -4px;
        
        position: absolute;
        width: 321px;
        bottom: 0;
        height: 423px;
    }
    .hero-section{
        min-height: 640px;
        padding-top: 40px;
    }
    .footer-copyright .Copyrights{
        display: flex;
        justify-content: space-between;
    }
    .hero-text{
        gap: 10px;
    }
    .hero-text :nth-child(4){
        font-size: 16px;
    }
    .hero-text h1{
        font-size: 44px;
    }
    .hero-text :nth-child(2){
        font-size: 18px;
    }
    .event-section{
        padding-top: 3rem!important;
    }
    .hero-text .rev-btn{
        padding: 10px 30px;
    }
    .sermon-box, .event-gallery-img,
    #donateNow .side-bar{
        width: 33.333333%;
    }
    .sermon-view-wrapper_child{
        width: 50%;
    }
    .img-width-50{
        width: 50%;
        margin-top: 20px;
    }
    #sermonList .sermon-thumb{
        margin: 0 30px -35px -15px;
        max-width: 34%;
    }
    #sermonList .sermon-playlist{
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 0 10px 0 9px;
    }
    .donate-section-wrap{
        width: 66.666666%;
    }
    .donation-fieldset .contain > .form-group{
        width: 33.333333%;
    }
}

@media screen and (min-width: 992px){
    .widget{
        width: 25%;
    }
    .hero-text{
        gap: 20px;
    }
    .hero-text :nth-child(4){
        font-size: 21px;
    }  
    .hero-text h1{
        font-size: 54px;
    }  
    .hero-text :nth-child(2) {
        font-size: 21px;
        font-weight: 600;
    }
    .hero-text .rev-btn{
        padding: 15px 35px;
    }
    .event-detailed-pack, #contactFormSection .contact-form-wrap{
        width: 66.6666666%;
    }
    .event-contact-pack, .contact-box-wrapper,
    .contact-form_side-image{
        width: 33.3333333%;
    }
    .sermon-list-item-wrapper, .portfolio-info-wrap{
        width: 66.66666%;
    }
    .side-bar{
        width: 33.333333%;
    }
}

@media screen and (min-width: 1200px){
    .about, .portfolio-info-wrap .media-wrapper{
        width: 50%;
    }
    .flip-box-container{
        width: 33.33333333%;
        margin-bottom: 0;
    }
    .contact-form-content{
        width: 66.66666666%;
    }
    .hero-section{
        min-height: 750px;
    }
    .carousel-outer-stage{
        margin-top: -50px;
    }
    .event-section{
        padding-top: 0!important;
    }
}

@media screen and (max-width: 1040px){
    header > :nth-child(-1n+2){
        display: none;
    }
    .mobile-header{
        display: flex !important;
    }
    .hero-section{
        position: relative;
    }
    .carousel{
        width: 100%;
    }
    .ministries-section .carousel{
        width: 48.4%;
    }
    .blog-section .carousel{
        width: 48.4%;
    }
    .tear-dot.disabled{
    display: inline-block;
    }
    #pageTitleWrapper .page-title-img-icon-container::after{
        border-radius: 45% 50% 50% 0;
        left: 49%;
    }
    #pageTitleWrapper .page-title-img-icon-container::before{
        border-radius: 50% 45% 0 50%;
        right: 49%;
    }
}
@media screen and (max-width: 992px) {
    .widget{
        margin-bottom: 35px;
    }
    .contact-form_side-image{
        text-align: center;
    }

}
@media screen and (max-width: 767px){
    .about-img, .about-img_pattern{
        padding: 0 !important;
    }
    .about-img{
        margin-bottom: 3rem;
    }
    .footer-copyright{
        text-align: center;
    }
    .blog-section .carousel{
        width: 100%;
    }
    .ministries-section .carousel{
        width: 100%;
    }
    .event-section{
        padding-top: 4.5rem!important;
    }
    img[alt="Dove"]{
        width: 45px;
        height: 45px;
    }
    .hero-text .rev-btn{
        padding: 7px 25px;
    }
    .hero-text{
        gap: 10px;
    }
    .hero-text :nth-child(4){
        font-size: 13px;
    }
    #pageTitleWrapper .page-title-img-icon-container::after{
        border-radius: 45% 50% 50% 0;
        left: 48%;
    }
    #pageTitleWrapper .page-title-img-icon-container::before{
        border-radius: 50% 45% 0 50%;
        right: 48%;
    }
    .event-gallery-img{
        text-align: center;
    }
    .sermon-list-item{
        flex-direction: column;
    }
    .donate-section-wrap{
        order: 1;
    }
    #donateNow .side-bar{
        order: 2;
    }
    .donate-section form{
        margin-bottom: 40px;
    }
}
@media (max-width: 450px) {
    .hero-text :nth-child(2){
        font-size: 13px;
    }
    .img[alt="Dove"]{
        width: 40px;
        height: 40px;
    }
    .hero-text .rev-btn{
        font-size: 13px;
    }
    .hero-text h1{
        font-size: 130%;
    }
}