*>*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}
/* background-image */
.bg-img{
    background-image: url(../Images/bg-1.jpg);
    position: absolute;
    width: 100%;
    min-height: 100vh;
    inset: 0;
    z-index: -2;
}
/* header */
header > div{
    position: relative;
}
.basic-container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
    width: 100%;
    color: white;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
}
.nav-bg{
    position: absolute;
    inset: 0;
}
.address i{
    padding-right: 5px;;
}
.social-icons{
    display: flex;
}
.social-icons li{
    list-style: none;
}
.social-icons a {
    width: 50px;
    height: 60px;
    line-height: 60px;
    margin-right: 0px;
    border-left: solid 1px rgba(255,255,255,0.07);
    display: inline-block;
    margin-right: 5px;
    text-align: center;
    color: inherit;
}
.social-icons :nth-child(7) a{
    padding-left: 30px;
}

.bottom-bar{
    border-top: 1px rgba(255,255,255,0.07) solid;
    box-shadow: 0 10px 50px -12px rgba(171, 171, 171, 0.14);
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}
nav > ul > li >a{
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 90px;
    font-size: 14px;
}
nav a i{
    padding-left: 5px;
}
.donate-btn {
    font-size: 12px;
    font-weight: 700;
    padding: 5px 23px;
    border-radius: 4px;
    background-color: #bf0a30;
}